<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <script src="/script.js" defer></script>
    <title>Log In | Admin</title>
</head>
<body>
    <div class="blur-bg-overlay"></div>
    <div class="form-popup">
        <a href="/">
        <span class="close-btn material-symbols-rounded">close</span>
        </a>
        <div class="form-box login">
            <div class="form-details">
                <h2>Welcome Back</h2>
                <p>Please log in using your personal information to stay connected with us.</p>
            </div>
            <div class="form-content">
                <h2>Log In | Admin</h2>
                <form action="#" method="post">
                    <div class="input-field">
                        <input type="text" name="email" required>
                        <label>Email</label>
                    </div>
                   <div class="input-field">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                        <br>
                    <button type="submit">Log In</button>
                </form>
            </div>
        </div>
</body>
</html>