<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro-Focus | Access Keys</title>
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>
            <a href="#" class="logo">
                <img src="images/logo.jpg" alt="logo">
                <h2>Micro-Focus</h2>
            </a>
            <ul class="links">
                <span class="close-btn material-symbols-rounded">close</span>
                <li><a href="/views/news.ejs">Newsletter</a></li>
                <li><a href="/views/about.ejs">About Us</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
            <a href="/login">
            <button class="login-btn">LOG IN</button>
            </a>
        </nav>
    </header>

        <div class="mine">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Ex dolore consectetur accusantium ipsum officia ducimus quisquam 
             ratione nobis nostrum quo sequi ullam, aut, 
             expedita laudantium maiores corrupti aliquid iure consequuntur.</div>

    <div class="blur-bg-overlay"></div>
</body>
</html>