<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro-Focus | Access Keys</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="images/logo.jpg" alt="logo">
                <h2>Micro-Focus</h2>
            </a>
            <ul class="links">
                <li><a href="#">Active Keys</a></li>
                <li><a href="#">Expired Keys</a></li>
                <li><a href="#">Revoked Keys</a></li>
            </ul>
            <a href="/logout">
            <button class="login-btn">LOG OUT</button>
            </a>
        </nav>
    </header>
    <div class="content">
        <h2>Hello IT Personnel</h2>
    </div>
    
</body>
</html>